html {
	font-size: 1rem;
	font-family: 'Inter var',system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased!important;
	background-color: #fff;
}

body {
	color: #1a202c;
	line-height: 1.5;
}

button:focus{
  outline: none;
}