.markdown-body > *{
  margin-bottom: 1rem;
}

.markdown-body h1 {
    font-size: 1.5rem;
}

.markdown-body h2 {
    font-size: 1.25rem;
}

.markdown-body h3 {
    font-size: 1.125rem;
}

.markdown-body h4 {
    font-size: 1rem;
}

.markdown-body h5 {
    font-size: 0.875rem;
}

.markdown-body h6 {
    font-size: 0.75rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6{
	font-weight: 600;
	line-height: 1.25
}

.markdown-body p {
}

.markdown-body blockquote {
    background: transparent;
    padding: 0.5rem .75rem;
    border-radius: 0.25rem;
    border-left: solid 5px #718096;
}

.markdown-body a{
    color: #06f;
    text-decoration: none;
}

.markdown-body a:hover{
    text-decoration: underline;
}

.markdown-body ul{
	list-style-type: disc;
}

.markdown-body ul ul {
	list-style-type: circle;
	padding-inline-start: 40px;
	padding-left: 40px;
}

.markdown-body li + li {
    margin-top: .25rem;
}

.markdown-body > :last-child{
  margin-bottom: 0 !important;
}